.popup__container {
    position: relative;
    width: 430px;
    height: 330px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}


@media screen and (max-width:480px) {
    .popup__container {
        width: 282px;
        height: 322px;
    }
}